DATABASE_URL=postgres://username:password@server_name:port/db_name
UUID_CACHE_URL=redis://user:pass@localhost:6379/db_name
API_URL=localhost:1234
DBUSER=dbuser

# for tests
TEST_DATABASE_URL=postgres://username:password@server_name:port/db_name
